@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&family=VT323&display=swap");


:root {
	/** Fonts **/
	--font-ingame: "VT323", sans-serif;
	--font-outgame: "Sawarabi Gothic", serif;

	/** Texts **/
	--text-size-out: 16px;
	--color-text-out: black;
	--color-text-ig: white;
	--color-text-ig-item: rgb(68, 197, 236);
	--color-text-ig-loss: red;
	--color-text-ig-event: yellow;

	/** Colors **/
	--color-bg-out: rgb(238, 53, 222);
	--color-bg-ig: black;
	--color-button-ig: blue;

	/** Sizes **/
	--card-max-width: 1000px;

	/** UI Effects **/
	--shadow-outer: 0 4px 8px hsla(0, 0%, 0%, 0.125);
	--shadow-inner: inset 0 4px 8px hsla(0, 0%, 0%, 0.25);
	--radius: 4px;
}

body {
	box-sizing: border-box;
	font-size: var(--text-size-out);
	background-color: var(--color-bg-out);
	font-family: var(--font-outgame);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

button {
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0;
	text-align: inherit;
	background: none;
	box-shadow: none;
	padding: 0;
	cursor: pointer;
	border: none;
	color: inherit;
	font: inherit;
}

@media screen and (min-width: 750px) {
	html {
		font-size: calc(var(--text-size-out)*1.5);
	}
}